/* Base styles */
body {
  font-family: 'Courier New', monospace;
  background-color: #0d0d0d;
  color: #33ff99; /* Matrix green */
  margin: 0;
  padding: 0;
}

header {
  background-color: #141414;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #33ff99;
}

nav {
  background-color: #141414;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #33ff99;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff1aff;
}

.container {
  padding: 20px;
}

h2 {
  color: #33ff99;
}

.mod-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.mod-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 20px;
  background-color: #141414;
  transition: transform 0.3s;
}

.mod-item:hover {
  transform: scale(1.05) rotate(-0.5deg);
}

.mod-item img {
  width: 80px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  background-color: #1a1a1a;
  color: #33ff99;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 5px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #121212;
  color: #33ff99;
}

.download-button {
  background-color: #141414;
  color: #33ff99;
  border: 1px solid #33ff99;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 10px 5px;
  display: inline-block;
}

.download-button:hover {
  background-color: #33ff99;
  color: #0d0d0d;
  transform: scale(1.1);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #141414;
  border-top: 1px solid #33ff99;
}
